  <div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-6 mx-auto">
          <div class="card shadow border "style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/images/me.png" alt="Me">
                <div class="card-body d-flex flex-column align-items-center">
                  <h5 class="card-title">Rojas Nicolas Luciano</h5>
                    <p class="card-text">Papá, 29 años, estudiante de programacion.</p>
                    <p class="card-text">Todavia no hay jueguito, pero ya vamo a pone.</p>
                    <a class="btn btn-primary" routerLink="/home">Volver</a> 
                </div>
            </div>
        </div>
    </div>
</div>