/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

html , body  {
   height :  100%;
}   

.form-floating {
   text-align :  start;
}

.errorLabel {
   margin-left :  5px;   
}

.containerSide{
   display: flex;
}