<div class="wrapper">
  <div *ngIf="!loading" class="body"> <!-- spinner -->
    <img class="logo" src="../../../assets/images/login.png" alt="Login">
    <h1>Recuperar</h1>
    <form (ngSubmit)="restore()" [formGroup]="restoreUser">

      <div class="form-floating mb-3">
        <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
        <label>Correo</label>
        <span *ngIf="restoreUser.get('email')?.hasError('required') && restoreUser.get('email')?.touched" class="text-danger">El correo es requerido</span>
        <span *ngIf="restoreUser.get('email')?.hasError('email') && restoreUser.get('email')?.touched" class="text-danger">El formato no es valido</span>
      </div>

      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-primary lgn" [disabled]="restoreUser.invalid"  type="submit">Aceptar</button>
      </div>
      <a routerLink="/login">Volver</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner> <!-- spinner -->
</div>